{% extends '::base.html.twig' %}

    {% block body %}
    
        {% include ':plantillasParciales:top.html.twig' %}

            <div class="container">

                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12 text-center">
                        <h3>Hola {{ userInformation.getRealname }}, por favor verifica tus datos:</h3>
                    </div>
                </div>

                {#
                <div class="row">
                    Username: {{ userInformation.getUsername }}<br />
                    Nickname: {{ nickname }}<br />
                    Real name: {{ userInformation.getRealname }}<br />
                    Email: {{ userInformation.getEmail }}<br />
                    Profilepicture: {{ userInformation.getProfilePicture }}<br />
                </div>
                #}

                <div class="row">
                    <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="hwi_oauth_registration_register">
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-4 puntosRosas">
                                <span class="error-formulario">{{ form_errors(form.username) }}</span>
                                <img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:12px;" width="210">{{ form_widget(form.username, { 'attr': {'class': 'input_registro_novios', 'value': nickname, 'placeholder': 'Nombre de usuario' } }) }}
                                <br/>
                                <span class="error-formulario">{{ form_errors(form.email) }}</span>
                                <img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:12px;" width="210">{{ form_widget(form.email, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Correo electrónico' } }) }}
                                <br/>
                                <div class="invisible">
                                    <span class="error-formulario">{{ form_errors(form.plainPassword.first) }}</span>
                                    <img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:12px;" width="210">{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input_registro_novios', 'value': password, 'placeholder': 'Contraseña' } }) }}
                                    <br />
                                    <span class="error-formulario">{{ form_errors(form.plainPassword.second) }}</span>
                                    <img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:12px;" width="210">{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input_registro_novios', 'value': password, 'placeholder': 'Confirmar contraseña' } }) }}
                                    <br />
                                </div>
                                <div class="row text-right">
                                    {{ form_widget(form) }}
                                    <button type="submit" class="botoncitoRosa" style="width:120px; margin-top:2px; bottom:0px; margin-right: 15px; margin-bottom:30px">{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}</button>
                                </div>
                            </div>
                            {#<div class="col-xs-4 puntosRosas">
                                <span class="error-formulario">{{ form_errors(form.terminosCondiciones) }}</span>
                                <img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:7px;" width="210">{{ form_widget(form.terminosCondiciones) }} 
                                <a href="{{asset('documents/TerminosYCondicionesNWNovios.pdf')}}" target="_blank">
                                    Acepto los términos y condiciones generales
                                </a><br />
                                <span class="error-formulario">{{ form_errors(form.terminosPrivacidad) }}</span>
                                <img src="{{ asset('img/punto.png') }}" alt="Registro" style="margin:5; float:left; margin-top:7px; " width="210">{{ form_widget(form.terminosPrivacidad) }}
                                <a href="{{asset('documents/CondicionesDeUsoGeneralYDeRegistroYAvisoDePrivacidadNewlyWishesNovios.pdf')}}" target="_blank">
                                    Acepto las Condiciones de Uso General y de Registro y Aviso de privacidad
                                </a><br />
                            </div>#}
                        </div>
                    </form>
                </div>

            </div>

    {% endblock %}