{# app/Resources/views/pasosboda.html.twig #}

<div class="container" style="padding-top:30px; padding-bottom:10px; padding:30px;">
    <div class="row">
		<div class="col-sm-6 col-md-3" style="background-image:url('{{ asset('img/1.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;"></div>
		<div class="col-sm-6 col-md-3" style="background-image:url('{{ asset('img/2.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;"></div>
		<div class="col-sm-6 col-md-3" style="background-image:url('{{ asset('img/3.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;"></div>
		<div class="col-sm-6 col-md-3" style="background-image:url('{{ asset('img/4.jpg') }}');height:260px;background-repeat:no-repeat;background-position:center;"></div>
    </div>
	<div class="row">
    	<img src="{{ asset('img/redes.jpg') }}" />
    </div>
</div>