{# app/Resources/views/top.html.twig #}

<div id="fb-root"></div>
<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="container" style="padding:0px; margin-top:-30px; box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -moz-box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -ms-box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -o-box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -webkit-box-shadow:rgba(0,0,0,1) 0px 0px 30px;">

<div class="container" style="">
	<div class="header_box">
		<div class="cont_top" style="margin-right:20px;">
			Español&nbsp; | &nbsp;MXN
		</div>
		{% if app.user %}
		  	<div class="cont_top">
		  		{% if is_granted('ROLE_NOVIO') %}
		    		Mi lista de deseos &nbsp;-&nbsp; <a href="{{ path('nw_principal_novios_nuestra-boda') }}">Nuestra Boda</a>
		    	{% endif %}
		    	{% if is_granted('ROLE_PROVEEDOR') %}
		    		<a href="{{ path('nw_principal_proveedores_micuenta') }}">Mi cuenta</a>
		    	{% endif %}
		  	</div>
			<div class="cont_top" style="float:right; clear:both;">
		    	<strong>{{ app.user.username }}</strong> &nbsp;-&nbsp; <a href="{{ path('fos_user_security_logout') }}">Salir</a>
		  	</div>
		 {% else %}
		 	<div class="cont_top" style="text-align:center;">
		 		Ingresa al sitio<br>
			 <a href="{{ path('nw_user_loginnovios') }}">Novios</a> &nbsp;-&nbsp; <a href="{{ path('nw_user_registroproveedores') }}">Proveedores</a>
		  	</div>
		 {% endif %}
	</div>
</div>

	<div class="container" style="padding-top:40px;">
		<div class="logoBox">
		<a href="{{ url('nw_principal_homepage') }}">
			<img src="{{ asset('img/logo_small.jpg') }}" />
		</a>
		</div>

		<nav class="navbar navbar-default" role="navigation">
  		<div class="navbar-header">
   			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Cambiar Navegación</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
    		</button>
  		</div>

  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav nav-tabs">
				<li><a href="{{ url('nw_principal_funcionamiento') }}">¿Cómo funciona?</a></li>
				<li class="dropdown">
					<a href="{{ url('nw_principal_noticias') }}" class="dropdown-toggle disabled" data-toggle="dropdown">Lo que necesitas</a>
					<div class="dropdown-menu">
						<div class="arrow-up hidden-xs"></div>
						<div class="globito hidden-xs">
							<div class="row">
								<div class="col-md-4">
									<a href="#">Jardines</a><br />
									<a href="#">Salones</a><br />
									<a href="#">Hoteles</a><br />
									<a href="#">Playa</a><br />
									<a href="#">Bebidas</a><br />
									<a href="#">Vino</a><br />
									<a href="#">Eventos/Expos</a><br />
									<a href="#">Promociones</a><br />
									<a href="#">Iglesias</a>
								</div>
              					<div class="col-md-4">
									<a href="#">Catering (Banquetes)</a><br />
									<a href="#">Flores</a><br />
									<a href="#">Música</a><br />
									<a href="#">Invitaciones</a><br />
									<a href="#">Tornaboda</a><br />
									<a href="#">Anillos</a><br />
									<a href="#">Lunas de miel</a><br />
									<a href="#">Viajes</a><br />
									<a href="#">Spas</a>
              					</div>
              					<div class="col-md-4">
									<a href="#">Maquillistas</a><br />
									<a href="#">Estilistas</a><br />
									<a href="#">Fotógrafos</a><br />
									<a href="#">Vestidos de novia</a><br />
									<a href="#">Trajes de novio</a><br />
									<a href="#">Sastres</a><br />
									<a href="#">Fuegos artificiales</a><br />
									<a href="#">Edecanes</a><br />
									<a href="#">Cenas de pareja</a>
								</div>
							</div>
						</div>
					</div>
        		</li>
				<li><a href="{{ url('nw_user_loginnovios') }}">Ingreso a tu página</a></li>
				<li><a href="#">Búsqueda de novios</a></li>
				<li><a href="{{ path('nw_user_registroproveedores') }}">Anúnciate aquí</a></li>
				<li class="visible-md visible-lg">
        			<form class="navbar-form navbar-left" role="search">
            			<input type="text" id="buscador_top" class="form-control lupa" placeholder="Buscar">
        			</form>
      			</li>
    		</ul>
  		</div><!-- /.navbar-collapse -->
	</nav>
</div>