{# app/Resources/views/top.html.twig #}
<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
-->

<div class="container" style="padding:0px; margin-top:-30px; box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -moz-box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -ms-box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -o-box-shadow:rgba(0,0,0,1) 0px 0px 30px;
  -webkit-box-shadow:rgba(0,0,0,1) 0px 0px 30px;">

{% include ':plantillasParciales:menuGrisSuperior.html.twig' %}

	<div class="container" style="padding-top:40px;">
		<div class="logoBox">
		<a href="{{ url('nw_principal_homepage') }}">
			<img src="{{ asset('img/logo_small.jpg') }}" />
		</a>
		</div>

		<nav class="navbar navbar-default" role="navigation">
  		<div class="navbar-header">
   			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Cambiar Navegación</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
    		</button>
  		</div>

  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav nav-tabs">
				<li class="leftround"><a href="{{ url('nw_principal_funcionamiento') }}">¿Cómo funciona?</a></li>
				<li class="dropdown">
					<a href="#{#{ url('nw_principal_articulos') }#}" class="dropdown-toggle disabled" data-toggle="dropdown">Lo que necesitas</a>
					<div class="dropdown-menu">
						<div class="arrow-up hidden-xs"></div>
						<div class="globito hidden-xs">
							{# <!--
							<div class="row">
								<div class="col-md-4">
									<a href="{{url('nw_principal_articulos')}}Jardines">Jardines</a><br />
									<a href="{{url('nw_principal_articulos')}}Salones">Salones</a><br />
									<a href="{{url('nw_principal_articulos')}}Hoteles">Hoteles</a><br />
									<a href="{{url('nw_principal_articulos')}}Playa">Playa</a><br />
									<a href="{{url('nw_principal_articulos')}}Bebidas">Bebidas</a><br />
									<a href="{{url('nw_principal_articulos')}}Vino">Vino</a><br />
									<a href="{{url('nw_principal_articulos')}}Eventos-Expos">Eventos/Expos</a><br />
									<a href="{{url('nw_principal_articulos')}}Promociones">Promociones</a><br />
									<a href="{{url('nw_principal_articulos')}}Iglesias">Iglesias</a>
								</div>
              					<div class="col-md-4">
									<a href="{{url('nw_principal_articulos')}}Catering (Banquetes)">Catering (Banquetes)</a><br />
									<a href="{{url('nw_principal_articulos')}}Flores">Flores</a><br />
									<a href="{{url('nw_principal_articulos')}}Musica">Música</a><br />
									<a href="{{url('nw_principal_articulos')}}Invitaciones">Invitaciones</a><br />
									<a href="{{url('nw_principal_articulos')}}Tornaboda">Tornaboda</a><br />
									<a href="{{url('nw_principal_articulos')}}Anillos">Anillos</a><br />
									<a href="{{url('nw_principal_articulos')}}Lunas de miel">Lunas de miel</a><br />
									<a href="{{url('nw_principal_articulos')}}Viajes">Viajes</a><br />
									<a href="{{url('nw_principal_articulos')}}Spas">Spas</a>
              					</div>
              					<div class="col-md-4">
									<a href="{{url('nw_principal_articulos')}}Maquillistas">Maquillistas</a><br />
									<a href="{{url('nw_principal_articulos')}}Estilistas">Estilistas</a><br />
									<a href="{{url('nw_principal_articulos')}}Fotografos">Fotógrafos</a><br />
									<a href="{{url('nw_principal_articulos')}}Vestidos de novia">Vestidos de novia</a><br />
									<a href="{{url('nw_principal_articulos')}}Trajes de novio">Trajes de novio</a><br />
									<a href="{{url('nw_principal_articulos')}}Sastres">Sastres</a><br />
									<a href="{{url('nw_principal_articulos')}}Fuegos artificiales">Fuegos artificiales</a><br />
									<a href="{{url('nw_principal_articulos')}}Edecanes">Edecanes</a><br />
									<a href="{{url('nw_principal_articulos')}}Cenas de pareja">Cenas de pareja</a>									
								</div>
							</div>
							--> #}

							<p id="proximamenteTemporal">
							Próximamente podrás encontrar a los mejores proveedores de productos y servicios para tu boda
							</p>
						</div>
					</div>
        		</li>
				<li><a href="{{ url('nw_user_loginnovios') }}">Ingreso a tu página</a></li>
				<li><a href="{{ url('nw_principal_buscar_novios') }}">Búsqueda de novios</a></li>
				<li><a href="{{ path('nw_user_registroproveedores') }}">Anúnciate aquí</a></li>
				<li class="visible-md visible-lg rightround">
        			<form class="navbar-form navbar-left" role="search" method="POST" action="{{url('nw_principal_busqueda')}}">
            			<input type="text" id="buscador_top" name="busqueda" class="form-control lupa" placeholder="Buscar">
        			</form>
      			</li>
    		</ul>
  		</div><!-- /.navbar-collapse -->
	</nav>
</div>