{# src/NW/PrincipalBundle/Resources/views/funcionamiento.html.twig #}

{% extends '::base.html.twig' %}

	{% block body %}
	
		{% include ':plantillasParciales:top.html.twig' %}

		<div class="container">
        	<div class="row">
        		<div class="col-md-8">
        			<div class="row">
			            <div class="col-md-2 numeros">
			            	<img src="{{ asset('img/uno.png') }}" class="numer" style="margin-top:10px; margin-left:24px;">
			            </div>
			            <div class="col-md-6">
			            	<h1>Registrate</h1>
			            	<p>Con sólo unos cuantos clicks, podrás tener acceso a los mejores servicios que NewlyWishes te ofrece. Podrás, desde crear una mesa de regalos a tu gusto, hasta planear toda tu boda.<br> Y lo mejor, todo esto es totalmente gratis. No esperes más regístrate y comienza a planear tu boda de manera como si fueras una profesional</p>
			            </div>
			            <div class="col-md-4" style="margin-top:50px;">
			            	<img src="{{ asset('img/llave.jpg') }}" />
			            </div>         
					</div>
        			<div class="row" style="margin-top:20px;">
        				<hr />	
			            <div class="col-md-2 numeros">
			            	<img src="{{ asset('img/dos.jpg') }}" style="margin-top:40px; margin-left:30px;" />
			            </div>
			            <div class="col-md-6">
			            	<h1>Planea y comparte</h1>
			            	<p>Con NewlyWishes, podrás llevar paso a paso la planeación de tu boda.<br> También podrás crear tu mesa de regalos y compartirla con tus invitados. Al tener tu mesa de reglaos con NewlyWishes, recibirás el dinero en efectivo para poder utilizarlo en lo que tú decidas.<br> También podrás encontrar a los mejores proveedores  para ese día tan especial.
			 				</p>
			 			</div>
			       		<div class="col-md-4" style="margin-top:0px;">
			       			<img class="modulo2" src="{{ asset('img/pluma.jpg') }}" style="margin-top:30px; margin-left:20px;" />
			       		</div>	
					</div>
					<hr />
					<div class="row" style="margin-top:20px;">
             			<div class="col-md-2 numeros">
             				<img src="{{ asset('img/tres.jpg') }}" class="numerTres" style="margin-top:20px;margin-left:30px;"/>
             			</div>
             			<div class="col-md-6">
             				<h1>Disfruta</h1>
             				<p>Con NewlyWishes, podrás organizar tu boda de una manera fácil y rápida. Podrás llevar seguimiento a todos y cada uno de tus pendientes, sin que ello represente una tarea exhaustiva. <br>Sabemos que la preparación de tu boda implica mucho tiempo y esfuerzo y queremos que sea lo más sencillo posible </p>
             			</div>
             			<div class="col-md-4">
             				<img class="modulo2" src="{{ asset('img/copas.jpg') }}" style="margin-top:-0px;" />
             			</div>
           			</div> 
         		</div>
          		<div class="col-md-4" style="margin-top:20px;">
            		<div class="registro">
            			<img src="{{ asset('img/registrogris.jpg') }}">
            			<p>Abre tu cuenta ahora y recibe un<br />
						<span class="text-important">certificado de regalo de $5,000.</span>
						</p>
						<p>Con nuestra herramienta podrás planear
						tu boda como un profesional. Además
						aprovecha grandes promociones.
						</p>
						<hr />
						<a href="{{ path('nw_user_registronovios') }}" class="enviar_form" style="float:none;">Regístrate aquí</a>
            		</div>
				</div>
			</div>
		</div>

	{% endblock %}