{# app/Resources/views/base.html.twig #}

{# include ':plantillasParciales:header.html.twig' #}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Newly Wishes{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    	{% stylesheets '@NWPrincipalBundle/Resources/public/css/bootstrap.min.css' '@NWPrincipalBundle/Resources/public/css/style.css' %}
	        <link rel="stylesheet" href="{{ asset_url }}" />
	    {% endstylesheets %}
    {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}
{% endblock %}

{# include ':plantillasParciales:footer.html.twig' #}
{% block footer %}
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="height:30px; background-color:rgba(255,255,255,1);"></div>
		</div>
	</div>
	</div>

	<div id="footer" class="container">
		<div class="container" style="height:50px; background-color:rgba(200,200,200,1); text-align:center; color:rgba(0,0,0,1); font-weight:bold;">
			<p style="margin-top:16px;">Newly Wishes &copy; 2014. Todos los derechos reservados.</p>
		</div>
		<div class="container" style="background-color:rgba(30,30,30,1); ">
			<div class="row">
				<div class="col-md-3">
					<div style="margin-top:20px; margin-bottom:20px;">
						<div class="row">
							<div class="social">
								<img src="{{asset('img/facebook.png')}}" alt="">
								<img src="{{asset('img/pinterest.png')}}" alt="">
								<img src="{{asset('img/twitter.png')}}" alt="">
								<img src="{{asset('img/googleplus.png')}}" alt="">
								<img src="{{asset('img/youtube.png')}}" alt="">
							</div>
						</div>
						<strong>SOBRE NOSOTROS</strong><br /><br />
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, tenetur, sint, atque placeat fugiat officiis nobis quo laudantium voluptatibus harum saepe ratione laborum dicta assumenda quod perferendis accusamus distinctio quasi!
						<br/><br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, provident, cupiditate quos voluptates sequi dicta reprehenderit possimus error pariatur velit officiis eligendi vitae nostrum sint blanditiis doloribus libero architecto porro.
					</div>
				</div>
				<div class="col-md-6" style="margin-bottom:20px;">
					<div style="margin-top:20px;">
						<strong>MAPA DE SITIO</strong><br /><br />
						
					</div>
				</div>

				<div class="col-md-3" style="margin-top:20px; margin-bottom:20px; width:160px;">
				<!--
					<div class="fb-like-box" data-href="http://www.facebook.com/FacebookDevelopers" data-width="240" data-height="300" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true">
				-->
					</div>
				</div>
			</div>
		</div>
	</div><!-- FIN DEL FOOTER -->
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery_js' '@bootstrap_js' '@NWPrincipalBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>