{# src/NW/PrincipalBundle/Resources/views/registroproveedores.html.twig #}

{% extends '::base.html.twig' %}

	{% block body %}
	
		{% include ':plantillasParciales:top.html.twig' %}

		<div class="container" style="margin-top:0px; margin-bottom:0px; padding-left:50px; padding-right:50px; background-color:rgba(255,255,255,1);">
      		<div class="">
			    <div class="cuadro img-responsive">
					<br>
					<img class="img-responsive proveedores" src="{{asset('img/proveedores.png')}}" />
					
					{% render controller("FOSUserBundle:Security:login") %}

				</div>
			    <h4 class="olv" style="text-align:center; margin-top:20px;">Olvidé mi usuario / contraseña</h4>
			</div>
			<div class="row" style="margin-top:50px;">
			    <div class="col-md-12">
			        <p>
			            Si eres un proveedor nuevo y deseas anunciarte con nosotros, por favor regístrate.
			        </p>
			    </div>
			</div>
			<div class="row" style="margin-top:20px;">
				{{ form_start(form) }}
				    <div class="col-md-8">
				    </div>
				    <div class="row">
				        <div class="col-md-12">
				        	{{ form_widget(form.tipoPersona) }}
				        </div>
				    </div>
				    <div class="row" style="margin-top:20px;">
				        <div class="col-md-4">
				        	{{ form_widget(form.nombreRazon, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Nombre o razón social' } }) }}
				            {{ form_widget(form.apellidoPaterno, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Apellido Paterno' } }) }}
				            {{ form_widget(form.apellidoMaterno, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'pellido Materno' } }) }}
				            {{ form_widget(form.rfc, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'RFC' } }) }}
				        </div>
				        <div class="col-md-4">
				        	{{ form_widget(form.email, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'E-Mail' } }) }}
				        	{{ form_widget(form.lada, { 'attr': {'class': 'input_registro_novios input_registro20', 'placeholder': 'LADA'} }) }}
				        	{{ form_widget(form.telefono, { 'attr': {'class': 'input_registro_novios input_registro74', 'placeholder': 'Teléfono de oficina'} }) }}
				        	{{ form_widget(form.celular, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Celular' } }) }}
				        </div>
				        <div class="col-md-4">
				        	{{ form_widget(form.direccion, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Dirección' } }) }}
				            {{ form_label(form.pais, 'País') }}
					        {{ form_widget(form.pais, { 'attr': {'class': 'input_registro_novios input_registro70'} }) }}
				            <br />
					        {{ form_label(form.estado, 'Estado') }}
					        {{ form_widget(form.estado, { 'attr': {'class': 'input_registro_novios input_registro70'} }) }}
					        {{ form_widget(form.ciudad, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Municipio o Delegación' } }) }}
				    		{{ form_widget(form.cp, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Código postal' } }) }}
				        </div>
				    </div>
				    <!-- DATOS DEL USUARIO -->
				    <div class="row" style="margin-top:20px;">
				        <div class="col-md-10">
				            <h3>Datos de Usuario:</h3>
				        </div>
				    </div>
				    <div class="row">
				        <div class="col-md-4">
				            {{ form_widget(form.userName, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Usuario' } }) }}
							{{ form_widget(form.userPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Contraseña' } }) }}
				        </div>
				        <div class="col-md-4">
				            {{ form_widget(form.terminosCondiciones) }} {{ form_label(form.terminosCondiciones, 'Acepto los términos y condiciones') }}<br />
							{{ form_widget(form.terminosPrivacidad) }} {{ form_label(form.terminosPrivacidad, 'Acepto los términos de privacidad') }}<br />
				        </div>
				        <div class="col-md-4">
				            {{ form_widget(form.Enviar, { 'attr': {'id': 'enviar_form' } }) }}
				        </div>
					</div>
				{{ form_end(form) }}
			</div>
			<div class="container">
			    <div class="row">
			        <div class="col-md-12" style="height:30px; background-color:rgba(255,255,255,1);">
			        </div>
			    </div>
			</div>
		</div><!-- CONTAINER -->

	{% endblock %}