{# src/NW/PrincipalBundle/Resources/views/Proveedores/micuenta.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}


				<div class="row">
					<div class="col-md-9">
						
					</div>
					<div class="col-md-3">
						<h1>Mi Cuenta</h1>
					</div>
					<!-- Modal -->
						<div class="modal fade" id="miCuenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header2">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <div class="col-xs-7">
						        	<h4 class="modal-title rosa" id="myModalLabel">Actualiza tus datos</h4>
						        </div>
						        <div class="col-xs-5">
					        		<img class="logo-modal" src="{{asset('img/nw.png')}}">	
						        </div>
						      </div>

						      
						      
						      <div class="modal-body">
						      	{{ form_start(formProveedor) }}
						      	<div class="row">
						    		<div class="col-xs-12 left">
						    			<img src="{{asset('img/mini-punto.png')}}">
						      			{{ form_widget(formProveedor.tipoPersona) }}
								        <br><br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.nombreRazon, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Nombre o Razón Social' } }) }}
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.direccion, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Dirección completa' } }) }}
								        </div>
								        <br>
								        <div class="row left2">
								        	{{ form_widget(formProveedor.apellidoPaterno, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Apellido Paterno' } }) }}
								        	<img src="{{asset('img/mini-punto.png')}}">
											  {{ form_label(formProveedor.pais, 'País') }}
											  {{ form_widget(formProveedor.pais, { 'attr': {'class': 'input_registro_novios select1'} }) }}
								        </div>
								        <br>
								        <div class="row left2">
								        	{{ form_widget(formProveedor.apellidoMaterno, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Apellido Materno' } }) }}
											<img src="{{asset('img/mini-punto.png')}}">
									        {{ form_label(formProveedor.estado, 'Estado') }}
				        					{{ form_widget(formProveedor.estado, { 'attr': {'class': 'input_registro_novios select2'} }) }}
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.rfc, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'RFC' } }) }}
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.ciudad, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Ciudad' } }) }}
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.email, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'E-Mail' } }) }}
								        	{{ form_widget(formProveedor.cp, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Código postal' } }) }}
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.lada, { 'attr': {'class': 'input_registro_novios miniinput', 'placeholder': 'LADA' } }) }}
								        	{{ form_widget(formProveedor.telefono, { 'attr': {'class': 'input_registro_novios miniinput2', 'placeholder': 'Teléfono de casa u oficina' } }) }}
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	{{ form_widget(formProveedor.celular, { 'attr': {'class': 'input_registro_novios input5 ', 'placeholder': 'Teléfono celular' } }) }}
								        </div>
								        <br>
								        <br>
								        <div class="row">
							        		<div class="col-xs-12">
						        			{{ form_widget(formProveedor.terminosCondiciones) }} {{ form_label(formProveedor.terminosCondiciones, 'Acepto los términos y condiciones') }}<br />
											{{ form_widget(formProveedor.terminosPrivacidad) }} {{ form_label(formProveedor.terminosPrivacidad, 'Acepto los términos de privacidad') }}<br />
							        		</div>
								        </div>
								        <br>
								        <div class="row left">
							        			<img src="{{asset('img/mini-punto.png')}}">
							        			<span>Datos obligatorios</span>	<br />
							        		</div>
							      	</div>
						    	</div>
						    	{{ form_end(formProveedor) }}
						      </div>
								
						    </div>
						  </div>
						</div>
						<!-- FIN CARGA DE ARTICULOS -->
				</div>
				<div class="row">
					<div class="col-md-4">
						<h4>Plan contratado:<span class="esc">Básico</span></h4>
					</div>
					<!--Inicia primer Modal-->
					<div class="col-md-3">
						<a class="art3" data-toggle="modal" data-target="#myModal"><h5 class="art">Editar</h5></a>
					</div>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						    	<div class="modal-header2">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        </div>
							    <div class="container contrata corrector minplanes">
								<div class="row">
									<div class="col-md-6">
										<h1>Contrata tu plan</h1>
									</div>
									<div class="col-md-6">
										<img class="img-responsive logo" src="{{asset('img/nw.png')}}"></div>
									</div>
									<br>
									<br>
									<br>
									<div class="usuario">
										<h3>Usuario:</h3>
									</div>
									<br>
									<br>

								</div>
									<div class="container minplanes">
										<table class="table table-striped">
											<tr height="20px">
												<td class="planes2"></td>
												<td class="planes" colspan="5">Planes</td>
											</tr>
										  <tr>
										    <th class="funcionalidades"> Funcionalidades </th>
										    <th> Anuncio <br> especial </th>
										    <th> Anuncio <br> Plus </th>
										    <th class="top"> Básico </th>
										    <th class="top"> Estándar </th>
										    <th class="top"> Plus </th>
										  </tr>
										  <tbody>
											  <tr>
											    <td> Anuncio en la página principal </td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Anuncio especial en el costado de la página </td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Micrositio con mi catálogo de productos / servicios </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Cargar / modificar artículos </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Incluir promociones en página principal </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Vender a través de la plataforma </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Transferir ventas a mi cuenta bancaria </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Modificar / actualizar información bancaria </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Incluir banners promocionales </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Administración de inventario por producto </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Conocer opiniones de clientes </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Estado de cuenta detallado </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
											  <tr>
											    <td> Cargar / modificar códigos de venta </td>
											    <td>&nbsp;</td>
											    <td>&nbsp;</td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											    <td><img src="{{asset('img/punto.png')}}"></td>
											  </tr>
										  </tbody>
										  <tr>
										    <td class="funcionalidades"> Costo mensual (3 meses gratis al registrarte) </td>
										    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $299 </label></td>
										    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $599 </label></td>
										    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $299 </label></td>
										    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked> $499 </label></td>
										    <td class="term"><label><input type="radio" name="optionsRadios" id="optionsRadios1" checked>$999 </label></td>
										  </tr>
										</table>

										<div class="container">
											<div class="radio">
										  		<label>
										    		<input type="checkbox">He leído y acepto los <span class="term">términos y condiciones</span>
										  		</label>
											</div>
											<div class="radio">
										  		<label>
										    		<input type="checkbox">He leído y acepto los <span class="term">términos de privacidad</span>
										  		</label>
											</div>
										</div>
										<br>
										<div class="container center">
											<h6>Datos obligatorios</h6>
										</div>
									</div>	
			      			</div>
					      <div class="modal-body">
					      	
					      </div>
			        </div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<strong class="esc"> Mis Datos </strong>
					</div>
					<div class="col-md-3">
						<a class="art3" data-toggle="modal" data-target="#miCuenta"><span class="esc"> Editar </span> </a>
					</div>
				</div>

				


				<hr />
				<h5>Tipo de persona:<span class="esc"> {{ proveedor.tipoPersona }} </span></h5>
				<h5>Nombre / Razón social:<span class="esc"> {{ proveedor.nombre }} </span></h5>
				<h5>Email:<span class="esc"> {{ proveedor.email }} </span></h5>
				<h5>Teléfono oficina:<span class="esc"> ({{ proveedor.lada }}) {{ proveedor.telefono }} </span></h5>
				<h5>Teléfono celular:<span class="esc"> {{ proveedor.celular }} </span></h5>
				<h5>RFC:<span class="esc"> {{ proveedor.rfc }} </span></h5>
				<h5>Dirección:<span class="esc"> {{ proveedor.direccion }} </span></h5>
				<h5>País:<span class="esc"> México </span></h5>
				<h5>Estado:<span class="esc"> {{ proveedor.estado }} </span></h5>
				<h5>Ciudad:<span class="esc"> {{ proveedor.ciudad }} </span></h5>
				<h5>Código postal:<span class="esc"> {{ proveedor.cp }} </span></h5>
				<div class="row">
					<div class="col-md-9">
						<strong class="esc"> Mi Imagen </strong>
					</div>
					<div class="col-md-3">
						<a class="art3" data-toggle="modal" data-target="#imagen"><span class="esc"><span class="esc"> Editar </span></a>
					</div>
					<!-- Modal -->
						<div class="modal fade" id="imagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header2">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <div class="col-xs-7">
						        	<h4 class="modal-title rosa" id="imagen">Actualiza tu imagen</h4>
						        </div>
						        <div class="col-xs-5">
					        		<img class="logo-modal" src="{{asset('img/nw.png')}}">	
						        </div>
						      </div>

						      
						      
						     <div class="modal-body">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span> Logo </span>
								<div class="row">
									<div class="col-xs-3">
										<img class="ejlogo" src="{{asset('img/ejlogo.jpg')}}">
									</div>
									<div class="col-xs-4">
										<input type="submit" value="Seleccionar Archivo" class="boton-seleccionar"> <br>
										<label for="ejemplo_archivo_1" class="cargar">Haz cargado el siguiente archivo</label>
    									<input type="file" id="ejemplo_archivo_1" class="cargar2">
									</div>
								</div>
								<h1>Nombre comercial</h1>
								<input class="input7" type="text" placeholder="nombre de la empresa" name="nombre de la empresa">
								<h1>Descripción de los que ofreces</h1>
								<input class="input6" type="text" placeholder="" name="">
								<h1>Galería de imágenes</h1>
								<div class="row">
									<div class="col-xs-3">
									<input type="submit" value="Añadir foto nueva" class="boton-seleccionar"> <br>
								</div>
								<div class="col-xs-9">
									<label for="ejemplo_archivo_1">Haz cargado el siguiente archivo</label>
									<input type="file" id="ejemplo_archivo_1" >
								</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										
									</div>
									<div class="col-xs-3">
										<img class="bote_top" src="{{asset('img/bote.png')}}">
										<p>Eliminar esta foto</p>	
									</div>
									<div class="col-xs-5">
										<div>
											<div class="foto2">
												<span class="foto1">Foto</span>
											</div>
										</div>
									</div>
									<div class="row left">
										<label class="radio-inline">
											<img src="{{asset('img/mini-punto.png')}}">
								          	<input name="radioGroup" id="radio1" value="option1" type="radio" class="input2">He leído y acepto los <span class="art">términos y condiciones</span>
									        </label>
									        <br>
									        <label class="radio-inline">
								        	<img src="{{asset('img/mini-punto.png')}}">
								          	<input name="radioGroup" id="radio1" value="option1" type="radio" class="input2">He leído y acepto los <span class="art">términos y condiciones</span>
								        </label>
									</div>
									<br>
									<div class="row left3">
					        			<img src="{{asset('img/mini-punto.png')}}">
					        			<span>Datos obligatorios</span>	
					        		</div>
								</div>

						    	
						    </div>
								
						    </div>
						  </div>
						</div>
						<!-- FIN CARGA DE ARTICULOS -->
				</div>
				<hr />
				<div class="row">
					<div class="col-md-3">
						<span> Logo </span>
					</div>
					<div class="col-md-3">
						<span> Nombre Comercial </span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<img class="ejlogo" src="{{asset('img/ejlogo.jpg')}}">
					</div>
					<div class="col-md-3">
						<h3 class="esc">Nombre de la empresa</h3>
					</div>
				</div>
				Descripción de los que ofreces
				<br>
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, molestias, quos, amet, sapiente eius odio doloremque pariatur temporibus illum cum quasi ipsam blanditiis eos. Facere, doloremque reprehenderit cumque alias accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, neque ab architecto dolorum excepturi natus aspernatur beatae repellat sed libero! Placeat sit consequatur consequuntur obcaecati sed eveniet beatae fugiat iste!
				<br>
				<br>
				<br>
				<h5>Galería de imágenes</h5>
				<br>
				<br>
				<br>
				<h4 class="esc"> 
					Mi Contraseña
					{% if statusForm %}
						(Se ha actualizado satisfactoriamente)
					{% endif %}
				</h4>
				<hr />
				<span class="esc"> Cambiar contraseña </span >
				<br>
				<div class="row" style="margin-top:10px;">
				<!-- <form action="{{ path('nw_principal_changepass') }}" method="post"> -->
				{{ form_start(form) }}
					<div class="col-md-4">
						{{ form_widget(form.oldPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Contraseña actual' } }) }}
					</div>
					<div class="col-md-4">
						{{ form_widget(form.newPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Nueva Contraseña' } }) }}
					</div>
					<div class="col-md-4">
						<!-- El formulario se debería enviar a NWPrincipalBundle:Default:changePass -->
						{{ form_widget(form.Cambiar) }}
					</div>
				{{ form_end(form) }}
			</div>
				<br>
				Define contraseña; ésta debe estar compuesta por 8 caracteres.
				<br>
				<br>
				<br>
				<br>

</div>
</div>
		</div>
		</div>


	    

	{% endblock %}