{# src/NW/PrincipalBundle/Resources/views/Proveedores/miscodigos.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
		
			<div class="container mi">
				<div class="flow">
					<div class="col-xs-6">
						
					</div>
					<div class="col-xs-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-xs-5">
						<h1 class="art">Mis C贸digos de Venta</h1>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="row">
					<div>
						<h1 class="art">
							Mi Administraci贸n de C贸digos
						</h1>
					</div>
					<hr />
				</div>
				<div class="row">
					<div class="col-xs-1">
						<p class="art">
							C贸digo <br>
						</p>
						<p align="center">
							234565 <br><br>
							345665 <br><br>
							345665 <br><br>
							145665 <br><br>
						</p>
					</div>
					<div class="col-xs-1">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-xs-2">
						<p class="art">
							Clave vendedor
						</p>
						<p align="center">
							1234567 <br><br>
							1234567 <br><br>
							1234567 <br><br>
							1234567 <br><br>
						</p>
					</div>
					<div class="col-xs-1 ">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-xs-2">
						<p class="art">
							% Vendedor	
						</p>
						<p align="center">
							20 <br><br>
							20 <br><br>
							20 <br><br>
							20 <br><br>
						</p>
					</div>
					<div class="col-xs-1 ">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-xs-2">
						<p class="art">
							% Descuento
						</p>
						<p align="center">
							5 <br><br>
							5 <br><br>
							5 <br><br>
							5 <br><br>
						</p>
					</div>
					<div class="col-xs-1">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
				</div>
			</div>
			
			











	{% endblock %}