{# src/NW/PrincipalBundle/Resources/views/Proveedores/misproductos.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}

<div class="container">
	<div class="col-md-6">

	</div>
	<div class="col-md-1">
		<img class="puntov" src="{{asset('img/puntov.png')}}">
	</div>
	<div class="col-md-5">
		<h1>Mis Productos / Servicios</h1>	
	</div>
	<div class="col-md-5">
		<p class="verde">Agrega un nuevo producto /servicio</p>	
	</div>
	<div class="col-md-7">

		<!-- CARGA DE ARTICULOS -->
		<!-- Button trigger modal -->
		<input type="image" src="{{asset('img/novios/mas.png')}}" data-toggle="modal" data-target="#myModal" style="width:40px; height:60px; margin-top:-24px; margin-left:-20px;">


		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title rosa" id="myModalLabel">Nuevo Artículo</h4>
					</div>

					<div class="modal-body">
						{{ form_start(formArticulo) }}
						<div class="row">
							<div class="col-xs-6">


								<div class="row">
									<div class="col-xs-10">
										<img src="{{asset('img/punto.png')}}" style="margin-top:9px; margin-left:-8px; position:absolute; width:5px; height:5px;">
										{{ form_widget(formArticulo.datos.nombre, { 'attr': {'class': 'input_small', 'style': '', 'placeholder': 'Nombre del artículo' } }) }}
									</div>
									<div class="col-xs-2">
										<img class="puntov" src="{{asset('img/puntov.png')}}" style="margin-top:7px; margin-left:-20px;">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										<img src="{{asset('img/punto.png')}}" style="margin-top:9px; margin-left:-8px; position:absolute; width:5px; height:5px;">
										{{ form_widget(formArticulo.datos.descripcion, { 'attr': {'class': 'textarea_small', 'style': '', 'placeholder': 'Descripción' } }) }}
									</div>
									<div class="col-xs-2">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										<img src="{{asset('img/punto.png')}}" style="margin-top:9px; margin-left:-8px; position:absolute; width:5px; height:5px;">
										{{ form_widget(formArticulo.datos.idInterno, { 'attr': {'class': 'input_small', 'style': '', 'placeholder': 'ID (Asignar uno)' } }) }}
									</div>
									<div class="col-xs-2">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										<img src="{{asset('img/punto.png')}}" style="margin-top:9px; margin-left:-8px; position:absolute; width:5px; height:5px;">
										{{ form_widget(formArticulo.datos.stock, { 'attr': {'class': 'input_small', 'style': '', 'placeholder': 'Inventario Disponible' } }) }}
									</div>
									<div class="col-xs-2">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										<img src="{{asset('img/punto.png')}}" style="margin-top:9px; margin-left:-8px; position:absolute; width:5px; height:5px;">
										{{ form_widget(formArticulo.datos.precio, { 'attr': {'class': 'input_small', 'style': '', 'placeholder': 'Valor' } }) }}
									</div>
									<div class="col-xs-2">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										{{ form_widget(formArticulo.datos.precioPromocion, { 'attr': {'class': 'input_small', 'style': '', 'placeholder': 'Valor Promoción' } }) }}
									</div>
									<div class="col-xs-2">
										<img class="puntov" src="{{asset('img/puntov.png')}}" style="margin-top:7px; margin-left:-20px;">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										<br><br>
										Tamaños disponibles (sepáralos por una coma “,” y sin espacios)
										<br>
									</div>
									<div class="col-xs-2">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-10">
										<img src="{{asset('img/punto.png')}}" style="margin-top:9px; margin-left:-8px; position:absolute; width:5px; height:5px;">
										{{ form_widget(formArticulo.datos.tamanos, { 'attr': {'class': 'input_small', 'style': '', 'placeholder': '' } }) }}
									</div>
									<div class="col-xs-2">
									</div>
								</div>

								<br><img src="{{asset('img/punto.png')}}" style="margin-top:5px; margin-left:-8px; position:absolute; width:5px; height:5px;">Tipo <img class="puntov" src="{{asset('img/puntov.png')}}" style="margin-top:-3px; margin-left:30px;"><br>
								{{ form_widget(formArticulo.datos.tipo) }}
								<br><br>
								<img src="{{asset('img/punto.png')}}" style="margin-top:5px; margin-left:-8px; position:absolute; width:5px; height:5px;">Estatus <img class="puntov" src="{{asset('img/puntov.png')}}" style="margin-top:-3px; margin-left:14px;"><br>
								{{ form_widget(formArticulo.datos.estatus) }}
								<br>
								<img src="{{asset('img/punto.png')}}" style="margin-top:8px; margin-left:-8px; position:absolute; width:5px; height:5px;">
								{{ form_widget(formArticulo.terminosCondiciones) }} {{ form_label(formArticulo.terminosCondiciones, 'Acepto los términos y condiciones') }}<br />
								<img src="{{asset('img/punto.png')}}" style="margin-top:8px; margin-left:-8px; position:absolute; width:5px; height:5px;">
								{{ form_widget(formArticulo.terminosPrivacidad) }} {{ form_label(formArticulo.terminosPrivacidad, 'Acepto los términos de privacidad') }}<br>
								<img src="{{asset('img/punto.png')}}" style="margin-top:5px; margin-left:-8px; position:absolute; width:5px; height:5px;"> Datos obligatorios
							</div>
							<div class="col-xs-6">
								<div class="row">
									<div class="col-md-12">
										<img src="{{asset('img/nw.png')}}" width="100%">
									</div>
								</div>
								<div class="row" style="margin-top:20px;">
									<div class="col-xs-12">
										{{ form_widget(formArticulo.foto.file, { 'attr': {'class': '', 'style': '', 'placeholder': '' } }) }}
										<br><br>
									</div>
								</div>

							</div>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						{{ form_widget(formArticulo.Agregar, { 'attr': {'class': 'btn btn-primary', 'style': '', 'placeholder': '' } }) }}
					</div>

					{{ form_end(formArticulo) }}
				</div>
			</div>
		</div>
		<!-- FIN CARGA DE ARTICULOS -->


	</div>
	<div class="col-md-5">
		<p class="verde">Carga masiva</p>	
	</div>
	<!-- CARGA MASIVA DE ARTICULOS -->
	<!-- Button trigger modal -->
	<input type="image" src="{{asset('img/novios/mas.png')}}" data-toggle="modal" data-target="#masiva" style="width:40px; height:60px; margin-top:-24px; margin-left:-20px;">


	<!-- Modal -->
	<div class="modal fade" id="masiva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
				<div class="modal-header2">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="col-xs-7">
						<h4 class="modal-title rosa" id="masiva">Actualiza tus datos</h4>
					</div>
					<div class="col-xs-5">
						<img class="logo-modal" src="{{asset('img/nw.png')}}">	
					</div>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 ingreso">
							<input type="submit" id="enviar_form" value="Seleccionar Archivo" style="width:120px;">
						</div>
						<div class="col-xs-9">
							<label for="ejemplo_archivo_1" class="cargar">Haz cargado el siguiente archivo</label>
							<input type="file" id="ejemplo_archivo_1" class="cargar2">
						</div>
						<div class="col-xs-3 verde parrafito">
							<p>Descargar formato para carga masiva de artículos (Excel)</p>
						</div>
						<div class="row left">
							<label class="radio-inline">
								<img src="{{asset('img/mini-punto.png')}}">
								<input name="radioGroup" id="radio1" value="option1" type="radio" class="input2">He leído y acepto los <span class="art">términos y condiciones</span>
							</label>
							<br>
							<label class="radio-inline">
								<img src="{{asset('img/mini-punto.png')}}">
								<input name="radioGroup" id="radio1" value="option1" type="radio" class="input2">He leído y acepto los <span class="art">términos y condiciones</span>
							</label>
						</div>
						<br>
						<div class="row left3">
							<img src="{{asset('img/mini-punto.png')}}">
							<span>Datos obligatorios</span>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN CARGA DE ARTICULOS -->

	{% for articulo in articulos %}
	<!-- Inicio de artículo -->
	<div class="container">
		<div class="col-md-10">
			<h5 class="art">{{articulo.nombre}}</h5>	
		</div>
		<div class="col-md-2">
			<h5 class="art">Editar</h5>	
		</div>
	</div>	
	<hr />
	<div class="container">
		<p>Descripción: </p>
		<div class="col-md-8">
			<p>{{articulo.descripcion}}</p>
		</div>
		<div class="col-md-1">
			Valor <br>
			<p class="art2">${{articulo.precio}}</p> <br>
			Valor promoción <br>
			<p class="art2">${{articulo.precioPromocion}}</p> <br>
		</div>
		<div class="col-md-1 bote">
			<img src="{{asset('img/bote.png')}}" alt="bote">
		</div>
		<div class="col-md-2">

		</div>
		<div class="col-md-4">
			Tamaños:<br />
			{% for tamano in articulo.tamanos %}
				{{tamano}}<br />
			{% endfor %}
		</div>
		<div class="col-md-4">
			<p>Inventario disponible: <span class="art">{{articulo.stock}}</span></p>
			<p>Artículos vendidos: <span class="art">##</span></p>
		</div>
		<div class="col-md-4">
			<img src="{{asset('img/foto.png')}}" alt="foto" class="foto">
		</div>
		<div class="col-md-8">

		</div>
		<div class="col-md-3 pad">
			<img src="{{asset('img/punto2.png')}}" alt="imagen 1" class="pad2">
			<img src="{{asset('img/puntog2.png')}}" alt="imagen 1" class="pad2">
			<img src="{{asset('img/puntog2.png')}}" alt="imagen 1" class="pad2">
		</div>
	</div>
	<div class="container">
		<div class="col-md-8">
			<p>Estatus: <span class="art">{{articulo.estatus}}</span></p> <br>
			<p>ID: <span class="art">{{articulo.idInterno}}</span></p> <br>
			<p>Tipo: <span class="art">{{articulo.tipo}}</span></p>
		</div>
	</div>
	<!-- Fin de artículo -->
	{% endfor %}


	<br>
	<br>
	<br>

</div>

{% endblock %}