{# src/NW/PrincipalBundle/Resources/views/Novios/administrador.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}

	<div class="container" style="padding:0px; margin-top:-30px; box-shadow:rgba(0,0,0,1) 0px 0px 30px;-moz-box-shadow:rgba(0,0,0,1) 0px 0px 30px;-ms-box-shadow:rgba(0,0,0,1) 0px 0px 30px;-o-box-shadow:rgba(0,0,0,1) 0px 0px 30px;-webkit-box-shadow:rgba(0,0,0,1) 0px 0px 30px;">

		<div class="container corrector" style="padding-top:50px;">
			<div class="row" style="display: table">
				<div class="col-md-6 same-height">
					<div class="nw2">
						<a href="{{url('nw_principal_homepage')}}">
							<img class="img-responsive" src="{{asset('img/nw2.png')}}">
						</a>
					</div>
				</div>
				<div class="col-md-1 same-height">
					<a href="{{ path('fos_user_security_logout') }}" class="text-important salir-link">
						Salir
					</a>
				</div>
				<div class="col-md-5 text-center same-height">
					<div class="row" style="text-align:right">
						<div class="col-xs-12">
							<h4>Hoy es <span class="esc">{{ today() }}</span></h4>
						</div>
					</div>
					<div class="row">
							<div class="col-xs-10" style="text-align:right">
								<h4>
									{% if hayFechaBoda %}
										{{ contadorFechaBoda }}
									{% else %}
										¿Qué día es tu boda?
									{% endif %}
								</h4>
							</div>
							<div class="col-xs-2">
								<a class="art3" data-toggle="modal" data-target="#dia">
									<img src="{{ asset('img/novios/nuestro_calendario.png') }}" width="90">
								</a>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding-top:20px;">
			<div class="row">
				<div class="col-md-12">
					<h4>Bienvenidos <span class="esc">{{novia}}</span> y <span class="esc">{{novio}}</span></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 style="font-size:16px;">Saldo de tu mesa de regalos: <span class="esc">$0.00 pesos</span></h4>
				</div>
			</div>
		</div>

		<div class="container"  style="padding-top:30px; padding-left:0px;">
			<div class="row">
				<div class="col-md-3">

					<nav class="menu_novios">
						<ul>

							<a href="{{url('nw_principal_novios_nuestra-boda')}}">
								<li style="border-radius:10px 10px 0px 0px;">
									<div class="row">
										<div class="col-md-8">
											Nuestra Boda 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestra_boda.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestro-calendario')}}">
								<li>
									<div class="row">
										<div class="col-md-8">
											Nuestro Calendario 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestro_calendario.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestro-checklist')}}">
								<li> 
									<div class="row">
										<div class="col-md-8">
											Nuestro Checklist 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestro_checklist.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestra-mesa-de-regalos')}}">
								<li>
									<div class="row">
										<div class="col-md-8">
											Nuestra Mesa de Regalos 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestra_mesa_de_regalos.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestra-lista-de-invitados')}}">
								<li> 
									<div class="row">
										<div class="col-md-8">
											Nuestra Lista de Invitados 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestra_lista_de_invitados.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestra-cuenta')}}">
								<li>
									<div class="row">
										<div class="col-md-8">
											Nuestra Cuenta 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestra_cuenta.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestra-informacion-bancaria')}}">
								<li>
									<div class="row">
										<div class="col-md-8">
											Nuestra Información Bancaria 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestra_informacion_bancaria.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<a href="{{url('nw_principal_novios_nuestras-compras')}}">
								<li>
									<div class="row">
										<div class="col-md-8">
											Nuestras Compras 
										</div>
										<div class="col-md-2">
											<img src="{{asset('img/novios/nuestras_compras.png')}}" class="imagen_menu_novios">
										</div>
									</div>
								</li>
							</a>

							<li style="border-radius:0px 0px 10px 10px;">
								<p class="tienes table-hover">Tienes alguna duda, comentario, sugerencia o simplemente quieres decirnos algo, <span class="esc"><a data-toggle="modal" data-target="#Quejas">escríbenos aquí</a></span>
								</p>
							</li>
						</ul>
					</nav>

				</div>
				<div class="col-md-9">
					{% block partederecha %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>

	{% block modales %}
		{% include 'NWPrincipalBundle:Novios:modalDiaBoda.html.twig' %}
		{% include 'NWPrincipalBundle:Novios:modalDudas.html.twig' %}
	{% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}