{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="row">
				<div class="col-md-7">
				</div>
				<div class="col-md-5" style="text-align:right;">
					<img class="puntov" src="{{asset('img/puntov.png')}}" style="float:left; margin-right:20px;"><h1 style="float:left;">Nuestra lista de invitados</h1>	
				</div>	
			</div>
				
			<div class="row" style="margin-top:10px;">
					<div class="col-md-8">
						Total de invitados: <span class="rosa">#</span>
						<br>Total de confirmados: <span class="rosa">#</span>
					</div>
					<div class="col-md-4">
						<span class="verde">Generar lista en PDF o Excel</span>
					</div>
			</div>
			<div class="row" style="margin-top:20px;">
					<div class="col-md-6"></div>
					<div class="col-xs-5" style="text-align:right;">
						<span class="verde" style="font-size:16px;">Agregar un nuevo invitado</span>
					</div>
					<div class="col-xs-1">
						<img src="{{asset('img/novios/mas.png')}}" style="float:left; width:40px; height:60px; margin-left:-30px; margin-top:-24px;">
					</div>
					
			</div>


			<!-- LISTA DE INVITADOS -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-5">
						<h5 class="art" style="float:left;">Familia</h5><img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-5">
						<h5 class="art" style="float:left;">Estatus</h5><img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2">
						<h5 class="art" style="float:left;">Eliminar</h5>
					</div>
			</div>

			<!-- INVITADO -->
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-bottom:20px;">
					<div class="col-xs-5">
						<p class="rosa" style="font-size:14px;">Nombre del invitado</p>	
						Familia: <span class="rosa">apellido de la familia</span><br>
						Teléfono: <span class="rosa">55 555 555</span>
					</div>
					<div class="col-xs-5">
						
						<div class="cuadro_confirmacion"></div><span class="rosa">Confirmado</span>	
					</div>
					<div class="col-xs-2" style="text-align:right;">
					<img src="{{asset('img/bote.png')}}" style="float:left; width:40px; height:40px; ">
					</div>
			</div>
			<!-- FIN INVITADO -->

			<!-- INVITADO -->
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-bottom:20px;">
					<div class="col-xs-5">
						<p class="rosa" style="font-size:14px;">Nombre del invitado</p>	
						Familia: <span class="rosa">apellido de la familia</span><br>
						Teléfono: <span class="rosa">55 555 555</span>
					</div>
					<div class="col-xs-5">
						
						<div class="cuadro_confirmacion"></div><span class="rosa">Confirmado</span>	
					</div>
					<div class="col-xs-2" style="text-align:right;">
					<img src="{{asset('img/bote.png')}}" style="float:left; width:40px; height:40px; ">
					</div>
			</div>
			<!-- FIN INVITADO -->
				
			
			<!-- FIN DATOS DE LA BODA -->

			<br>
			<br>
			<br>
			<br>
			<br>


{% endblock %}