{# src/NW/PrincipalBundle/Resources/views/Proveedores/misproductos.html.twig #}

{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}
		
			<div class="container">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-1">
						<img class="puntov" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-5">
						<h1>Mis Productos / Servicios</h1>	
					</div>
					<div class="col-md-2">
					<p class="verde">Carga masiva</p>	
					</div>
					<div class="col-md-5">
						<p class="mas">+</p>
					</div>
					<div class="col-md-10">
						<h5 class="art">Articulo 1</h5>	
					</div>
					<div class="col-md-2">
						<h5 class="art">Editar</h5>	
					</div>
			</div>	
			<hr />
			<div class="container">
				<p>Descripción: </p>
				<div class="col-md-8">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, </p>
				</div>
				<div class="col-md-1">
					Valor <br>
					<p class="art2">$7,000</p> <br>
					Valor promoción <br>
					<p class="art2">$7,000</p> <br>
				</div>
					<div class="col-md-1 bote">
						<img src="{{asset('img/bote.png')}}" alt="bote">
					</div>
				<div class="col-md-2">
					
				</div>
				<div class="col-md-4">
					tamaños
				</div>
				<div class="col-md-4">
					<p>Inventario disponible: <span class="art">##</span></p>
					<p>Artículos vendidos: <span class="art">##</span></p>
				</div>
				<div class="col-md-4">
					<img src="{{asset('img/foto.png')}}" alt="foto" class="foto">
				</div>
				<div class="col-md-8">
				
				</div>
				<div class="col-md-3 pad">
					<img src="{{asset('img/punto2.png')}}" alt="imagen 1" class="pad2">
					<img src="{{asset('img/puntog2.png')}}" alt="imagen 1" class="pad2">
					<img src="{{asset('img/puntog2.png')}}" alt="imagen 1" class="pad2">
				</div>
			</div>
			<div class="container">
					<div class="col-md-8">
						<p>Estatus: <span class="art">Activo / Inactivo</span></p> <br>
						<p>ID: <span class="art">NWM-ABC123-P-ABC123</span></p> <br>
						<p>Tipo: <span class="art">Producto</span></p>
					</div>
			</div>


			<div class="container">
					<div class="col-md-10">
						<h5 class="art">Articulo 1</h5>	
					</div>
					<div class="col-md-2">
						<h5 class="art">Editar</h5>	
					</div>
			</div>	
			<hr />
			<div class="container">
				<p>Descripción: </p>
				<div class="col-md-8">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, </p>
				</div>
				<div class="col-md-1">
					Valor <br>
					<p class="art2">$7,000</p> <br>
					Valor promoción <br>
					<p class="art2">$7,000</p> <br>
				</div>
					<div class="col-md-1 bote">
						<img src="{{asset('img/bote.png')}}" alt="bote">
					</div>
				<div class="col-md-2">
					
				</div>
				<div class="col-md-4">
					tamaños
				</div>
				<div class="col-md-4">
					<p>Inventario disponible: <span class="art">##</span></p>
					<p>Artículos vendidos: <span class="art">##</span></p>
				</div>
				<div class="col-md-4">
					<img src="{{asset('img/foto.png')}}" alt="foto" class="foto">
				</div>
				<div class="col-md-8">
				
				</div>
				<div class="col-md-3 pad">
					<img src="{{asset('img/punto2.png')}}" alt="imagen 1" class="pad2">
					<img src="{{asset('img/puntog2.png')}}" alt="imagen 1" class="pad2">
					<img src="{{asset('img/puntog2.png')}}" alt="imagen 1" class="pad2">
				</div>
			</div>
			<div class="container">
					<div class="col-md-8">
						<p>Estatus: <span class="art">Activo / Inactivo</span></p> <br>
						<p>ID: <span class="art">NWM-ABC123-P-ABC123</span></p> <br>
						<p>Tipo: <span class="art">Servicio</span></p>
					</div>
			</div>

			<div class="container">
					<div class="col-md-10">
						<h5 class="art">Articulo 1</h5>	
					</div>
					<div class="col-md-2">
						<h5 class="art">Editar</h5>	
					</div>
			</div>	
			<hr />
			<div class="container">
				<p>Descripción: </p>
				<div class="col-md-8">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, </p>
				</div>
				<div class="col-md-1">
					Valor <br>
					<p class="art2">$7,000</p> <br>
					Valor promoción <br>
					<p class="art2">$7,000</p> <br>
					<br>
				<br>
				<br>



	    

	{% endblock %}