{# src/NW/PrincipalBundle/Resources/views/Novios/nuestro-calendario.html.twig #}
{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    {% stylesheets
        '@fullcalendar_css'
        'bundles/sgcalendar/css/smoothness/jquery-ui-1.10.3.custom.min.css'
        'bundles/sgcalendar/css/sgcalendar.css'
        filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block partederecha %}

	<div class="rlow" style="text-align:right;">
			<h1><img Src="{{asset('img/puntov.png')}}"> Nuestro Calendario</h1>
	</div>

	<div class="row" style="font-size:17px;">
		<b>Pendientes para este día -</b><span style="color: rgb(204,0,153);"> 3 de enero de 2014</span><br />
	</div>

	<div class="row" style="border-top-color: rgb(214, 214, 214); border-top-width: 1px; border-top-style: solid; margin-top: 25px; padding:10px;">
		
		{# Ciclo for #}
			<div class="row">
				<div class="col-xs-8">a</div>
				<div class="col-xs-4">b</div>
			</div>
		{# Fin de ciclo for #}

	</div>

	<div class="row" style="margin-top:40px;">
		<span style="font-size:15px; color:rgb(146, 208, 80);"><b>Ver detalle / agregar / modificar compromisos de este día</b></span>
	</div>

	<div class="row">
		calendario
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {% javascripts
        '@fullcalendar_js'
        'bundles/sgcalendar/js/jquery-ui-1.10.3.custom.min.js'
        'bundles/sgcalendar/js/jquery.ui.datepicker-de.js'
        'bundles/sgcalendar/js/sgcalendar.js'
        'bundles/sgcalendar/js/bootbox.min.js'
        'bundles/sgrrule/js/underscore-min.js'
        'bundles/sgrrule/js/rrule.js'
        'bundles/sgrrule/js/nlp.js'
        'bundles/sgrrule/js/moment.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}