{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="row">
				<div class="col-md-9">
				</div>
				<div class="col-md-3" style="text-align:right;">
					<img class="puntov" src="{{asset('img/puntov.png')}}" style="float:left; margin-right:20px;"><h1 style="float:left;">Nuestra cuenta</h1>	
				</div>	
			</div>

			<!-- NUESTROS DATOS -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-10">
						<h5 class="art" style="float:left;">Nuestros datos</h5>
					</div>
					<div class="col-xs-2">
						<h5 class="art" data-toggle="modal" data-target="#myModal" style="float:left; cursor:pointer; cursor: hand;">Editar</h5>


							<!-- EDITAR DATOS -->
						
						<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  	<div class="modal-dialog">
					    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
					      	<div class="modal-header">
						      	<div class="row">
						      		<div class="col-xs-5">
							        	<h4 class="modal-title rosa" id="myModalLabel">Actualiza tus datos</h4>
						        	</div>
						        	<div class="col-xs-1">
										
						        	</div>
						        	<div class="col-xs-5">
										<img src="{{asset('img/nw.png')}}" width="100%">
						        	</div>
						        	<div class="col-xs-1">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        		</div>
					        	</div>
				     		 </div>

						      
						      <div class="modal-body">
						      			<p>La novia</p>
										<div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5" type="text" placeholder="nombreo razónsocial" name="nombreo razónsocial">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5" type="text" placeholder="dirección(calley número)" name="dirección(calley número)">
								        </div>
								        <br>
								        <div class="row left2">
								        	<input class="input5" type="text" placeholder="apellido paterno" name="apellidopaterno">
								        	<img src="{{asset('img/mini-punto.png')}}">
									        <select class="select1">
											  <option value="país">país</option>
											  <option value="México">México</option>
											</select>
								        </div>
								        <br>
								        <div class="row left2">
								        	<input class="input5" type="text" placeholder="apellido materno" name="apellidomaterno">
											<img src="{{asset('img/mini-punto.png')}}">
									        <select class="select1">
											  <option value="Estado">Estado</option>
											  <option value="Aguascalientes">Aguascalientes</option>
											</select>
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5" type="text" placeholder="RFC" name="RFC">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5" type="text" placeholder="municipio/ delegación" name="municipio/ delegación">
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5 input3" type="text" placeholder="email" name="email">
								        	<input class="input5" type="text" placeholder="ciudad" name="ciudad" class="miniinput3">
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input type="text" placeholder="LADA" name="LADA" class="miniinput">
								        	<input type="text" placeholder="teléfono oficina" name="teléfono oficina" class="miniinput2">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5" type="text" placeholder="código postal" name="código postal">
								        </div>
								        <br>
								        <div class="row left">
								        	<img src="{{asset('img/mini-punto.png')}}">
								        	<input class="input5" type="text" placeholder="teléfono celular" name="teléfono celular">
								        </div>
								        <br>
								        <input type="checkbox" name="opciones" id="opciones_1" value="opcion_1" checked>
									    ¿La dirección del novio es la misma que de la novia?
									  </label>
								        <br>
							      	</div>
							      	<label>
							      	<p>El novio</p>
							      	<div class="row left">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5" type="text" placeholder="nombreo razónsocial" name="nombreo razónsocial">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5" type="text" placeholder="dirección(calley número)" name="dirección(calley número)">
						          	</div>
							        <br>
							        <div class="row left2">
							        	<input class="input5" type="text" placeholder="apellido paterno" name="apellidopaterno">
							        	<img src="{{asset('img/mini-punto.png')}}">
								        <select class="select1">
										  <option value="país">país</option>
										  <option value="México">México</option>
										</select>
							        </div>
							        <br>
							        <div class="row left2">
							        	<input class="input5" type="text" placeholder="apellido materno" name="apellidomaterno">
										<img src="{{asset('img/mini-punto.png')}}">
								        <select class="select1">
										  <option value="Estado">Estado</option>
										  <option value="Aguascalientes">Aguascalientes</option>
										</select>
							        </div>
							        <br>
							        <div class="row left">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5" type="text" placeholder="RFC" name="RFC">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5" type="text" placeholder="municipio/ delegación" name="municipio/ delegación">
							        </div>
							        <br>
							        <div class="row left">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5 input3" type="text" placeholder="email" name="email">
							        	<input class="input5" type="text" placeholder="ciudad" name="ciudad" class="miniinput3">
							        </div>
							        <br>
							        <div class="row left">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input type="text" placeholder="LADA" name="LADA" class="miniinput">
							        	<input type="text" placeholder="teléfono oficina" name="teléfono oficina" class="miniinput2">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5" type="text" placeholder="código postal" name="código postal">
							        </div>
							        <br>
							        <div class="row left">
							        	<img src="{{asset('img/mini-punto.png')}}">
							        	<input class="input5" type="text" placeholder="teléfono celular" name="teléfono celular">
							        </div>
							        <br><br>
							        <div class="row">
						        		<div class="col-xs-12">
							        		<label class="radio-inline">
									          <input name="radioGroup" id="radio1" value="option1" type="radio" class="input2">He leído y acepto los <span class="art">términos y condiciones</span>
									        </label>
									        <br>
									        <label class="radio-inline">
									          <input name="radioGroup" id="radio1" value="option1" type="radio" class="input2">He leído y acepto los <span class="art">términos y condiciones</span>
									        </label>
						        		</div>
							        </div>
									<div class="row left">
					        			<img src="{{asset('img/mini-punto.png')}}">
					        			<span>Datos obligatorios</span>	
					        		</div>
							        <div class="col-xs-9">
							        	
							        </div>
							        <div class="col-xs-3">
							        	<input type="submit" id="enviar_form" value="Aceptar" style="width:120px;" class="aceptar">
							        </div>
						      	</div>


								

						<!-- FIN EDITAR DATOS -->
						    	</div>
						      </div>

						      	

					
					</div>
			</div>
			<div class="row borde_abajo"></div>
			<!-- FIN NUESTROS DATOS -->

			<!-- Datos de la novia -->
			<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<p class="rosa"><i>La novia</i></p>
						Nombre: <span class="rosa">{{ noviaInfo.nombreCompleto }}</span><br>
						E-mail: <span class="rosa">{{ noviaInfo.email }}</span><br>
						Teléfono Oficina: <span class="rosa">{{ noviaInfo.telefono }}</span><br>
						Teléfono Celular: <span class="rosa">{{ noviaInfo.celular }}</span><br>
						Dirección: <span class="rosa">{{ noviaInfo.direccion }}</span><br>
						País: <span class="rosa">México</span><br>
						Estado: <span class="rosa">{{ noviaInfo.estado }}</span><br>
						Ciudad: <span class="rosa">{{ noviaInfo.ciudad }}</span><br>
						Código Postal: <span class="rosa">{{ noviaInfo.cp }}</span><br>
					</div>
			</div>
			<!-- FIN DATOS DE LA NOVIA -->

			<!-- Datos del novio -->
			<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<p class="rosa"><i>El novio</i></p>
						Nombre: <span class="rosa">{{ novioInfo.nombreCompleto }}</span><br>
						E-mail: <span class="rosa">{{ novioInfo.email }}</span><br>
						Teléfono Oficina: <span class="rosa">{{ novioInfo.telefono }}</span><br>
						Teléfono Celular: <span class="rosa">{{ novioInfo.celular }}</span><br>
						Dirección: <span class="rosa">{{ novioInfo.direccion }}</span><br>
						País: <span class="rosa">México</span><br>
						Estado: <span class="rosa">{{ novioInfo.estado }}</span><br>
						Ciudad: <span class="rosa">{{ novioInfo.ciudad }}</span><br>
						Código Postal: <span class="rosa">{{ novioInfo.cp }}</span><br>
					</div>
			</div>
			<!-- FIN DATOS DEL NOVIO -->

			<!-- NUESTRA CONTRASEÑA -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-12">
						<h5 class="art" style="float:left;">
							Nuestra contraseña
							{% if statusForm %}
								(Se ha actualizado satisfactoriamente)
							{% endif %}
						</h5>
					</div>
			</div>
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-top:10px;">
					<div class="col-xs-12">
						<span class="rosa"><i>Cambiar contraseña</i></span>
					</div>
			</div>

			<div class="row" style="margin-top:10px;">
				{{ form_start(form) }}
					<div class="col-md-4">
						{{ form_widget(form.oldPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Contraseña actual' } }) }}
					</div>
					<div class="col-md-4">
						{{ form_widget(form.newPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Nueva Contraseña' } }) }}
					</div>
					<div class="col-md-4">
						{{ form_widget(form.Cambiar) }}
					</div>
				{{ form_end(form) }}
			</div>

			<div class="row" style="margin-top:10px;">
					<div class="col-xs-12">
						<p>Define contraseña; ésta debe estar compuesta por 8 caracteres.</p>
					</div>
			</div>
			<!-- FIN NUESTROS DATOS -->

			
			<!-- FIN DATOS DE LA CUENTA -->

			<br>
			<br>
			<br>
			<br>
			<br>


{% endblock %}