{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="row">
				<div class="col-md-9">
				</div>
				<div class="col-md-3" style="text-align:right;">
					<img class="puntov" src="{{asset('img/puntov.png')}}" style="float:left; margin-right:20px;"><h1 style="float:left;">Nuestra cuenta</h1>	
				</div>	
			</div>

			<!-- NUESTROS DATOS -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-10">
						<h5 class="art" style="float:left;">Nuestros datos</h5>
					</div>
					<div class="col-xs-2">
						<h5 class="art" data-toggle="modal" data-target="#myModal" style="float:left; cursor:pointer; cursor: hand;">Editar</h5>

							<!-- EDITAR DATOS -->
						
						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header">
						      	<div class="row">
						      		<div class="col-xs-5">
							        	<h4 class="modal-title rosa" id="myModalLabel">Mi lista de invitados<br>Nuevo invitado</h4>
						        	</div>
						        	<div class="col-xs-1">
										
						        	</div>
						        	<div class="col-xs-5">
										<img src="{{asset('img/nw.png')}}" width="100%">
						        	</div>
						        	<div class="col-xs-1">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        	</div>
						        </div>
						      </div>
						      
						      <div class="modal-body">
						      	
								
								
						      </div>
						    </div>
						  </div>
						</div>
						<!-- FIN EDITAR DATOS -->

					
					</div>
			</div>
			<div class="row borde_abajo"></div>
			<!-- FIN NUESTROS DATOS -->

			<!-- Datos de la novia -->
			<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<p class="rosa"><i>La novia</i></p>
						Nombre: <span class="rosa">{{ noviaInfo.nombreCompleto }}</span><br>
						E-mail: <span class="rosa">{{ noviaInfo.email }}</span><br>
						Teléfono Oficina: <span class="rosa">{{ noviaInfo.telefono }}</span><br>
						Teléfono Celular: <span class="rosa">{{ noviaInfo.celular }}</span><br>
						Dirección: <span class="rosa">{{ noviaInfo.direccion }}</span><br>
						País: <span class="rosa">México</span><br>
						Estado: <span class="rosa">{{ noviaInfo.estado }}</span><br>
						Ciudad: <span class="rosa">{{ noviaInfo.ciudad }}</span><br>
						Código Postal: <span class="rosa">{{ noviaInfo.cp }}</span><br>
					</div>
			</div>
			<!-- FIN DATOS DE LA NOVIA -->

			<!-- Datos del novio -->
			<div class="row" style="margin-top:20px;">
					<div class="col-md-12">
						<p class="rosa"><i>El novio</i></p>
						Nombre: <span class="rosa">{{ novioInfo.nombreCompleto }}</span><br>
						E-mail: <span class="rosa">{{ novioInfo.email }}</span><br>
						Teléfono Oficina: <span class="rosa">{{ novioInfo.telefono }}</span><br>
						Teléfono Celular: <span class="rosa">{{ novioInfo.celular }}</span><br>
						Dirección: <span class="rosa">{{ novioInfo.direccion }}</span><br>
						País: <span class="rosa">México</span><br>
						Estado: <span class="rosa">{{ novioInfo.estado }}</span><br>
						Ciudad: <span class="rosa">{{ novioInfo.ciudad }}</span><br>
						Código Postal: <span class="rosa">{{ novioInfo.cp }}</span><br>
					</div>
			</div>
			<!-- FIN DATOS DEL NOVIO -->

			<!-- NUESTRA CONTRASEÑA -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-12">
						<h5 class="art" style="float:left;">
							Nuestra contraseña
							{% if statusForm %}
								(Se ha actualizado satisfactoriamente)
							{% endif %}
						</h5>
					</div>
			</div>
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-top:10px;">
					<div class="col-xs-12">
						<span class="rosa"><i>Cambiar contraseña</i></span>
					</div>
			</div>

			<div class="row" style="margin-top:10px;">
				{{ form_start(form) }}
					<div class="col-md-4">
						{{ form_widget(form.oldPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Contraseña actual' } }) }}
					</div>
					<div class="col-md-4">
						{{ form_widget(form.newPass, { 'attr': {'class': 'input_registro_novios', 'placeholder': 'Nueva Contraseña' } }) }}
					</div>
					<div class="col-md-4">
						{{ form_widget(form.Cambiar) }}
					</div>
				{{ form_end(form) }}
			</div>

			<div class="row" style="margin-top:10px;">
					<div class="col-xs-12">
						<p>Define contraseña; ésta debe estar compuesta por 8 caracteres.</p>
					</div>
			</div>
			<!-- FIN NUESTROS DATOS -->

			
			<!-- FIN DATOS DE LA CUENTA -->

			<br>
			<br>
			<br>
			<br>
			<br>


{% endblock %}