{# src/NW/PrincipalBundle/Resources/views/Proveedores/nuestro-checklist.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="container">
				<div class="row">
					<div class="col-md-7">
						
					</div>
					<div class="col-md-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-4">
						<h1>
							Nuestro Checklist
						</h1>
					</div>
					<div class="col-md-4">
						
					</div>
					<div class="col-md-7">
						<p class=" verde3">
							Agrega una nueva tarea
						</p>
					</div>
					<div class="col-md-1">
						<h1 class="art big">
							+
						</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<h5 class="art" style="float:left;">
							Estatus
						</h5>
						<img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-3">
						<h5 class="art">
							Tarea
						</h5>
					</div>
					<div class="col-xs-3">
						<h5 class="art" style="float:left;">
							Categoría
						</h5>
						<img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-2">
						<h5 class="art">
							Descripción
						</h5>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox">
					</div>
					<div class="col-xs-3">
						<h6>
							Nombre de la primera tarea
						</h6>
					</div>
					<div class="col-xs-2">
						<h6>
							Vestido de novia
						</h6>
					</div>
					<div class="col-xs-4">
						<h6>
							Lorem ipsumdolor sitamet, consect etuera dipiscingelit Aenean commodo ligula egetdolor. Aeneanmassa. Cum
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-md-1">
							<img src="{{asset('img/bote.png')}}">
						</div>
					</div>
				</div>
				<p class="art">
					Editar
				</p>
				<hr />
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox">
					</div>
					<div class="col-xs-3">
						<h6>
							Nombre de la primera tarea
						</h6>
					</div>
					<div class="col-xs-2">
						<h6>
							Vestido de novia
						</h6>
					</div>
					<div class="col-xs-4">
						<h6>
							Lorem ipsumdolor sitamet, consect etuera dipiscingelit Aenean commodo ligula egetdolor. Aeneanmassa. Cum
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-md-1">
							<img src="{{asset('img/bote.png')}}">
						</div>
					</div>
				</div>
				<p class="art">
					Editar
				</p>
				<hr />
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox">
					</div>
					<div class="col-xs-3">
						<h6>
							Nombre de la primera tarea
						</h6>
					</div>
					<div class="col-xs-2">
						<h6>
							Vestido de novia
						</h6>
					</div>
					<div class="col-xs-4">
						<h6>
							Lorem ipsumdolor sitamet, consect etuera dipiscingelit Aenean commodo ligula egetdolor. Aeneanmassa. Cum
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-md-1">
							<img src="{{asset('img/bote.png')}}">
						</div>
					</div>
				</div>
				<p class="art">
					Editar
				</p>
				<hr />
			</div>



				
					 

						



{% endblock %}