{# src/NW/PrincipalBundle/Resources/views/Proveedores/nuestro-checklist.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="container">
				<div class="row">
					<div class="col-md-7">
						
					</div>
					<div class="col-md-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-4">
						<h1>
							Nuestro Checklist
						</h1>
					</div>
					<div class="col-md-3">
						
					</div>
					<div class="col-md-8">
						<p class=" verde3" style="margin-top:12px;">
							Agrega una nueva tarea
						</p>
					</div>
					<div class="col-md-1">
						
						<!-- CHECKLIST -->
						<!-- Button trigger modal -->
						<input type="image" src="{{asset('img/novios/mas.png')}}" data-toggle="modal" data-target="#myModal" style="width:40px; height:60px; margin-top:-10px; margin-left:-30px;">
						 

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header">
						      	<div class="row">
						      		<div class="col-xs-5">
							        	<h4 class="modal-title rosa" id="myModalLabel">Mi Checklist<br>Agrega/Modifica Tarea</h4>
						        	</div>
						        	<div class="col-xs-1">
										
						        	</div>
						        	<div class="col-xs-5">
										<img src="{{asset('img/nw.png')}}" width="100%">
						        	</div>
						        	<div class="col-xs-1">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        	</div>
						        </div>
						      </div>
						      
						      <div class="modal-body">
						      	<div class="row">
						      		<div class="col-md-9">

						      			<div class="row">
						      			<div class="col-xs-12">
							        		<input type="text" class="input_small" placeholder="Nombre de la tarea">
							        		<br>
							        		<select class="input_small">
						      					<option>Categoría</option>
							        		</select>
							        		<br>
							        		<textarea class="textarea_small" placeholder="Descripción"></textarea>
							        	</div>
							        	</div>
	
									</div>
									<div class="col-md-3">
									
									<div class="row" style="margin-top:0px;">
										<div class="col-md-12">
											<input type="submit" id="enviar_form" value="Agregar tarea" style="width:120px; margin-right:50px; bottom:0px;">	
										</div>
									</div>

									</div>

								</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- FIN AGREGAR CHECKLIST -->
						
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<h5 class="art" style="float:left;">
							Estatus
						</h5>
						<img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-3">
						<h5 class="art">
							Tarea
						</h5>
					</div>
					<div class="col-xs-3">
						<h5 class="art" style="float:left;">
							Categoría
						</h5>
						<img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-2">
						<h5 class="art">
							Descripción
						</h5>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox">
					</div>
					<div class="col-xs-3">
						<h6>
							Nombre de la primera tarea
						</h6>
					</div>
					<div class="col-xs-2">
						<h6>
							Vestido de novia
						</h6>
					</div>
					<div class="col-xs-4">
						<h6>
							Lorem ipsumdolor sitamet, consect etuera dipiscingelit Aenean commodo ligula egetdolor. Aeneanmassa. Cum
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-md-1">
							<img src="{{asset('img/bote.png')}}">
						</div>
					</div>
				</div>
				<p class="art">
					Editar
				</p>
				<hr />
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox">
					</div>
					<div class="col-xs-3">
						<h6>
							Nombre de la primera tarea
						</h6>
					</div>
					<div class="col-xs-2">
						<h6>
							Vestido de novia
						</h6>
					</div>
					<div class="col-xs-4">
						<h6>
							Lorem ipsumdolor sitamet, consect etuera dipiscingelit Aenean commodo ligula egetdolor. Aeneanmassa. Cum
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-md-1">
							<img src="{{asset('img/bote.png')}}">
						</div>
					</div>
				</div>
				<p class="art">
					Editar
				</p>
				<hr />
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox">
					</div>
					<div class="col-xs-3">
						<h6>
							Nombre de la primera tarea
						</h6>
					</div>
					<div class="col-xs-2">
						<h6>
							Vestido de novia
						</h6>
					</div>
					<div class="col-xs-4">
						<h6>
							Lorem ipsumdolor sitamet, consect etuera dipiscingelit Aenean commodo ligula egetdolor. Aeneanmassa. Cum
						</h6>
					</div>
					<div class="col-xs-1">
						<div class="col-md-1">
							<img src="{{asset('img/bote.png')}}">
						</div>
					</div>
				</div>
				<p class="art">
					Editar
				</p>
				<hr />
			</div>



				
					 

						



{% endblock %}