{# src/NW/PrincipalBundle/Resources/views/Proveedores/nuestra-mesa-de-regalos.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-1 puntov">
						<img class="img-responsive" src="{{asset('img/puntov.png')}}">
					</div>
					<div class="col-md-5">
						<h1>
							Nuestra Mesa de Regalos
						</h1>
					</div>
					<div class="col-md-6">
						
					</div>
					<div class="col-md-6">
						<p class="verde">
							Generar detalle en PDF ó Excel –¿quién nos regaló?
						</p>
					</div>
					<div class="col-md-5">
					
					</div>
					<div class="col-xs-6">
						<p class=" verde2">
							Agrega un nuevo artículo
						</p>
					</div>
					<div class="col-xs-1">
						<!-- CHECKLIST -->
						<!-- Button trigger modal -->
						<input type="image" src="{{asset('img/novios/mas.png')}}" data-toggle="modal" data-target="#myModal" style="width:40px; height:60px; margin-top:-20px; margin-left:-30px;">
						 

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header">
						      	<div class="row">
						      		<div class="col-xs-5">
							        	<h4 class="modal-title rosa" id="myModalLabel">Mi mesa de regalos<br>Nuevo artículo</h4>
						        	</div>
						        	<div class="col-xs-1">
										
						        	</div>
						        	<div class="col-xs-5">
										<img src="{{asset('img/nw.png')}}" width="100%">
						        	</div>
						        	<div class="col-xs-1">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        	</div>
						        </div>
						      </div>
						      
						      <div class="modal-body">
						      	<div class="row">
						      		<div class="col-md-6">

						      			<div class="row">
						      			<div class="col-xs-12">
							        		<input type="text" class="input_small" placeholder="Nombre del artículo">
							        		<br>
							        		<textarea class="textarea_small" placeholder="Descripción" style="height:200px;"></textarea>
							        	</div>
							        	</div>
	
									</div>
									<div class="col-md-6">
										<div class="row">
										<div class="col-xs-10">
											<input type="text" class="input_small" placeholder="Valor del artículo">
										<div class="col-xs-2">
										</div>
										</div>
										</div>

										<div class="row">
										<div class="col-xs-2">
											<input type="checkbox" name="comision" value="absorber"> 
										</div>
										<div class="col-xs-8">
											<i>¿Deseas absorber la comisión de la compra?</i>
										</div>
										<div class="col-xs-2">
							        		<img class="puntov" src="{{asset('img/puntov.png')}}" style="margin-top:7px; margin-left:-20px;">
							        	</div>
							        	</div>

							        	<div class="row" style="margin-top:20px;">
											<div class="col-xs-6">
												Número de artículos
											</div>
											<div class="col-xs-4">
												<select class="input_registro_novios">
													<option>1</option>
													<option>2</option>
												</select>
											</div>
											<div class="col-xs-2">
							        			
							        		</div>											
										</div>


										<div class="row" style="margin-top:20px;">
											<div class="col-xs-6">
												¿En cuántas partes desea dividir este artículo?
											</div>
											<div class="col-xs-4">
												<select class="input_registro_novios">
													<option>1</option>
													<option>2</option>
												</select>
											</div>
											<div class="col-xs-2">
							        			<img class="puntov" src="{{asset('img/puntov.png')}}" style="margin-top:7px; margin-left:-20px;">
							        		</div>											
										</div>

										<div class="row" style="margin-top:20px;">
											
											<div class="col-xs-10">
												<select class="input_registro_novios">
													<option>categoría</option>
												</select>
											</div>

											<div class="col-xs-2">
							        			
							        		</div>											
										</div>
									</div>

									<div class="row">

									<div class="row" style="margin-top:30px;">
										<div class="col-md-12">
											<input type="submit" id="enviar_form" value="Agregar artículo" style="width:120px; float:right; margin-right:50px; margin-top:30px;">	
										</div>
									</div>

									</div>

								</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- FIN AGREGAR CHECKLIST -->
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-xs-7">
						<h1 class="art">
							Artículo1 –Categoría
						</h1> <br>
						<p>
							Loremipsumdolor sitamet, consectetueradipiscingelit. Aeneancommodoligulaegetdolor. Aeneanmassa. Cum sociisnatoquepenatibuset magnisdisparturientmontes,
						</p> 
					</div>
					<div class="col-xs-3">
						<p class="columna_dos">
							Valor <br>
							<span class="art">$7,000</span> <br>
							Artículo dividido en <br>
							<span class="art"># partes</span>
						</p>
					</div>
					<div class="col-xs-2 bote2">
							<img class="img-responsive" src="{{asset('img/bote.png')}}">	
					</div>
				</div>
					<div class="row">
						<div class="col-xs-3">
							<p>Artículos comprados: <span class="art">#</span></p>	
						</div>
						<div class="col-xs-5">
							<p>Partes faltantes para completar el precio: <span class="art">#</span></p>
						</div>
					</div>
					<hr />
					<div class="row">
					<div class="col-xs-7">
						<h1 class="art">
							Artículo2 –Categoría
						</h1> <br>
						<p>
							Loremipsumdolor sitamet, consectetueradipiscingelit. Aeneancommodoligulaegetdolor. Aeneanmassa. Cum sociisnatoquepenatibuset magnisdisparturientmontes,
						</p> 
					</div>
					<div class="col-xs-3">
						<p class="columna_dos">
							Valor <br>
							<span class="art">$7,000</span> <br>
							Artículo dividido en <br>
							<span class="art"># partes</span>
						</p>
					</div>
					<div class="col-xs-2 bote2">
							<img class="img-responsive" src="{{asset('img/bote.png')}}">	
					</div>
				</div>
					<div class="row">
						<div class="col-xs-3">
							<p>Artículos comprados: <span class="art">#</span></p>	
						</div>
						<div class="col-xs-5">
							<p>Partes faltantes para completar el precio: <span class="art">#</span></p>
						</div>
					</div>
					<hr />
					<div class="row">
					<div class="col-xs-7">
						<h1 class="art">
							Artículo3 –Categoría
						</h1> <br>
						<p>
							Loremipsumdolor sitamet, consectetueradipiscingelit. Aeneancommodoligulaegetdolor. Aeneanmassa. Cum sociisnatoquepenatibuset magnisdisparturientmontes,
						</p> 
					</div>
					<div class="col-xs-3">
						<p class="columna_dos">
							Valor <br>
							<span class="art">$7,000</span> <br>
							Artículo dividido en <br>
							<span class="art"># partes</span>
						</p>
					</div>
					<div class="col-xs-2 bote2">
							<img class="img-responsive" src="{{asset('img/bote.png')}}">	
					</div>
				</div>
					<div class="row">
						<div class="col-xs-3">
							<p>Artículos comprados: <span class="art">#</span></p>	
						</div>
						<div class="col-xs-5">
							<p>Partes faltantes para completar el precio: <span class="art">#</span></p>
						</div>
					</div>
					<hr />
					<div class="row">
					<div class="col-xs-7">
						<h1 class="art">
							Artículo4 –Categoría
						</h1> <br>
						<p>
							Loremipsumdolor sitamet, consectetueradipiscingelit. Aeneancommodoligulaegetdolor. Aeneanmassa. Cum sociisnatoquepenatibuset magnisdisparturientmontes,
						</p> 
					</div>
					<div class="col-xs-3">
						<p class="columna_dos">
							Valor <br>
							<span class="art">$7,000</span> <br>
							Artículo dividido en <br>
							<span class="art"># partes</span>
						</p>
					</div>
					<div class="col-xs-2 bote2">
							<img class="img-responsive" src="{{asset('img/bote.png')}}">	
					</div>
				</div>
					<div class="row">
						<div class="col-xs-3">
							<p>Artículos comprados: <span class="art">#</span></p>	
						</div>
						<div class="col-xs-5">
							<p>Partes faltantes para completar el precio: <span class="art">#</span></p>
						</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			


				
					 

						



{% endblock %}