{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}

	{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

			<div class="row">
				<div class="col-md-7">
				</div>
				<div class="col-md-5" style="text-align:right;">
					<img class="puntov" src="{{asset('img/puntov.png')}}" style="float:left; margin-right:20px;"><h1 style="float:left;">Nuestra lista de invitados</h1>	
				</div>	
			</div>
				
			<div class="row" style="margin-top:10px;">
					<div class="col-md-8">
						Total de invitados: <span class="rosa">#</span>
						<br>Total de confirmados: <span class="rosa">#</span>
					</div>
					<div class="col-md-4">
						<span class="verde">Generar lista en PDF o Excel</span>
					</div>
			</div>
			<div class="row" style="margin-top:20px;">
					<div class="col-md-6"></div>
					<div class="col-xs-5" style="text-align:right;">
						<span class="verde" style="font-size:16px;">Agregar un nuevo invitado</span>
					</div>
					<div class="col-xs-1">
					
						<!-- AGREGAR INVITADO -->
						<!-- Button trigger modal -->
						<input type="image" src="{{asset('img/novios/mas.png')}}" data-toggle="modal" data-target="#myModal" style="width:40px; height:60px; margin-top:-20px; margin-left:-30px;">
						 

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
						      <div class="modal-header">
						      	<div class="row">
						      		<div class="col-xs-5">
							        	<h4 class="modal-title rosa" id="myModalLabel">Mi lista de invitados<br>Nuevo invitado</h4>
						        	</div>
						        	<div class="col-xs-1">
										
						        	</div>
						        	<div class="col-xs-5">
										<img src="{{asset('img/nw.png')}}" width="100%">
						        	</div>
						        	<div class="col-xs-1">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        	</div>
						        </div>
						      </div>
						      
						      <div class="modal-body">
						      	<div class="row">
						      		<div class="col-md-9">

						      			<div class="row">
						      			<div class="col-xs-12">
							        		<input type="text" class="input_small" placeholder="Nombre del invitado">
							        		<br>
							        		<input type="text" class="input_small" placeholder="Familia">
							        		<br>
							        		<input type="text" class="input_small" placeholder="Teléfono">
							        	</div>
							        	</div>
	
									</div>
									<div class="col-md-3">
									
									<div class="row" style="margin-top:0px;">
										<div class="col-md-12">
											<input type="submit" id="enviar_form" value="Agregar invitado" style="width:120px; margin-right:50px; bottom:0px;">	
										</div>
									</div>

									</div>

								</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- FIN AGREGAR INVITADO -->
					</div>
					
			</div>


			<!-- LISTA DE INVITADOS -->
			<div class="row" style="margin-top:20px;">
					<div class="col-xs-5">
						<h5 class="art" style="float:left;">Familia</h5><img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-5">
						<h5 class="art" style="float:left;">Estatus</h5><img src="{{asset('img/novios/flecha_abajo.png')}}" class="flecha_abajo">
					</div>
					<div class="col-xs-2"></div>
					<div class="col-xs-2">
						<h5 class="art" style="float:left;">Eliminar</h5>
					</div>
			</div>

			<!-- INVITADO -->
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-bottom:20px;">
					<div class="col-xs-5">
						<p class="rosa" style="font-size:14px;">Nombre del invitado</p>	
						Familia: <span class="rosa">apellido de la familia</span><br>
						Teléfono: <span class="rosa">55 555 555</span>
					</div>
					<div class="col-xs-5">
						
						<div class="cuadro_confirmacion"></div><span class="rosa">Confirmado</span>	
					</div>
					<div class="col-xs-2" style="text-align:right;">
					<img src="{{asset('img/bote.png')}}" style="float:left; width:40px; height:40px; ">
					</div>
			</div>
			<!-- FIN INVITADO -->

			<!-- INVITADO -->
			<div class="row borde_abajo"></div>
			<div class="row" style="margin-bottom:20px;">
					<div class="col-xs-5">
						<p class="rosa" style="font-size:14px;">Nombre del invitado</p>	
						Familia: <span class="rosa">apellido de la familia</span><br>
						Teléfono: <span class="rosa">55 555 555</span>
					</div>
					<div class="col-xs-5">
						
						<div class="cuadro_confirmacion"></div><span class="rosa">Confirmado</span>	
					</div>
					<div class="col-xs-2" style="text-align:right;">
					<img src="{{asset('img/bote.png')}}" style="float:left; width:40px; height:40px; ">
					</div>
			</div>
			<!-- FIN INVITADO -->
				
			
			<!-- FIN DATOS DE LA BODA -->

			<br>
			<br>
			<br>
			<br>
			<br>


{% endblock %}