<script>
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			editable: true,
			header: {
				left: 'prev',
				center: 'title',
				right: 'next'
			},
			monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
			dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
			dayNamesShort: ['D','L','M','M','J','V','S'],
			buttonText: {
				prev: "<span class='arrow-left'></span>",
				next: "<span class='arrow-right'></span>",
			},
			buttonIcons: {
				prev: 'arrow-left',
				next: 'circle-triangle-e'
			},
			events: [
				{% if tareas is defined %}
				{% for tarea in tareas %}
					{
						title: '{{ tarea.compromiso }}',
						start: new Date({{tarea.javascript}}),
						end: new Date({{tarea.javascript}}),
						allDay: false
					},
				{% endfor %}
				{% endif %}
			]
		});

		$('#calendar-mini').fullCalendar({
			editable: true,
			header: {
				left: 'prev',
				center: 'title',
				right: 'next'
			},
			monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
			monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
			dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
			dayNamesShort: ['D','L','M','M','J','V','S'],
			buttonText: {
				prev: "<span class='arrow-left'></span>",
				next: "<span class='arrow-right'></span>",
			},
			buttonIcons: {
				prev: 'arrow-left',
				next: 'circle-triangle-e'
			}
		});

		// Se dirigen los calendarios a la fecha de la boda si es que está definida, si no se muestra la fecha actual.
		{# /* El año 2000 significa sin fecha de boda */ #}
		{% if fechaBodaFormat.hayFechaBoda %}
			$('.calendar-view').fullCalendar('gotoDate', new Date({{fechaBodaFormat.javascript}}));
		{% else %}
			$('.calendar-view').fullCalendar('gotoDate', new Date());
		{% endif %}

		// Se aplica clase del día de la boda en el calendario grande
		$('#calendar .fc-day[data-date="{{ fechaBodaFormat.guiones }}"]').addClass('diaBoda');
		$('#calendar .fc-day[data-date="{{ fechaBodaFormat.guiones }}"]').find('.fc-day-content').html('Día de la boda');

		// Cada vez que se mueve el mes del calendario se busca el día de la boda y se le aplica su clase
		$('.fc-button').click(function(){
			$('#calendar .fc-day[data-date="{{ fechaBodaFormat.guiones }}"]').addClass('diaBoda');
			$('#calendar .fc-day[data-date="{{ fechaBodaFormat.guiones }}"]').find('.fc-day-content').html('Día de la boda');
			$('#calendar-mini .fc-day[data-date="{{ fechaBodaFormat.guiones }}"]').find('.fc-day-content').html('<img src="{{ asset('img/circle.png') }}" class="diaBoda-mini" />');
			// Hacer links cada numero del calendario
			$('#calendar-mini').find('.fc-day-number').each(function(){
				$(this).addClass('calendar-select-day');
				$(this).attr('href', '{{ path('nw_principal_novios_cambiar_fecha_boda') }}/'+$(this).closest('td').attr('data-date'));
			});
			// Cada numero del calendario dirige a la página para cambiar la fecha de lab boda
			$("#calendar-mini .fc-day-number").click(function() {
			    window.document.location = $(this).attr("href");
			});
		});

		// Cuando carga el mini calendario se redondea el día de la boda
		$('#calendar-mini .fc-day[data-date="{{ fechaBodaFormat.guiones }}"]').find('.fc-day-content').html('<img src="{{ asset('img/circle.png') }}" class="diaBoda-mini" />');

		// Hacer links cada numero del calendario
		$('#calendar-mini').find('.fc-day-number').each(function(){
			$(this).addClass('calendar-select-day');
			$(this).attr('href', '{{ path('nw_principal_novios_cambiar_fecha_boda') }}/'+$(this).closest('td').attr('data-date'));
		});

		// Cada numero del calendario dirige a la página para cambiar la fecha de lab boda
		$("#calendar-mini .fc-day-number").click(function() {
		    window.document.location = $(this).attr("href");
		});

		// Se muestra u oculta el calendario mini
		$('#calendario-mini-show').click(function(){
			$('.calendario-flotante').toggleClass("invisible");
		});

	});
</script>